// Styling for the masthead
header.masthead {
  text-align: center;
  color: black;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  /* markdonify adds an extra p element, that is where we want our background for readability */
  .intro-heading > p {
    display: inline;
    background: rgba(229, 243, 215, 0.4);
  }
  .intro-lead-in > p {
    display: inline;
    background: rgba(229, 243, 215, 0.4);
  }

  .intro-text {
    padding-top: 120px;
    padding-bottom: 60px;

    .intro-lead-in {
      font-size: 18px;
      font-style: italic;
      line-height: 18px;
      margin-bottom: 25px;
      @include serif-font;
    }

    .intro-heading {
      display: inline;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 20px;
      @include heading-font;
    }

  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 200px;
      padding-bottom: 100px;
      .intro-lead-in {
        font-size: 24px;
        font-style: italic;
        line-height: 24px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        display: inline;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 25px;
        @include heading-font;
      }
    }
  }
}
